*{
    margin: 0;
    padding: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(to right, #004e92, lightblue);  
    background: linear-gradient(to right, #004e92, lightblue); 
}

table, tr, td {
    border: 4px solid black;
    padding: 6px 8px;
    border-collapse: collapse;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.rules{
    max-width: 30%;
    margin: 2em 10em 0em 2em;
    
}

.rules ul li{
    font-size: 1.2em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.game_board{
    max-width: 70%;
    margin: 2em 10em 0em 2em;
}



header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15vh;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
}

p{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

img {
    border-radius: 4px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons
{
    margin-left: 0.8em;
    padding: 0.2em;
    width: 120px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    font-weight: bolder; 
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-align: center;
    border: none;
    cursor: pointer;
}

.buttons:hover
{
    box-shadow: inset 4px 4px 6px #cccccc, inset -3px -3px 6px #a1a1a1; 
}

h2{
    color: black;
    font-size: 30px;
    text-align: left;
}

h3{
    font-size: 25px;
    text-align: center;
}